* {
  color: white;
  background-color: black;
}

body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.imagen-container {
  text-align: center;
}

h2 {
  font-size: 2em;
}

ul,
li,
ol,
li > a,
dl > * {
  background-color: wheat;
  color: black;
  width: 50%;
}

.relevante{
    font-weight: 800;
    font-size: 1.5em;
    border: 5px white solid;
}


